<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
			<a class="navbar-brand smoothScroll">Puss In Bootstrap</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a ui-sref-active="active" ui-sref="app.home" class="smoothScroll">HOME</a></li>
				<li><a ui-sref-active="active" ui-sref="app.news" class="smoothScroll">LAST NEWS</a></li>
				<li><a ui-sref-active="active" ui-sref="app.contact" class="smoothScroll">CONTACT</a></li>
				<li><a id="acceder" ui-sref-active="active" show-authed="false" ui-sref="app.login" class="button special">LOGIN</a></li>
				<li><a id="acceder" ui-sref-active="active" show-authed="false" ui-sref="app.register" class="button special">SIGN IN</a></li>
				<li><a ui-sref-active="active" show-authed="true" ui-sref="app.profile.main({ username: $ctrl.currentUser.username})"><img ng-src="{{avatarUrl()}}" class="user-pic-header" />{{ $ctrl.currentUser.username }}</a></li>	
				<li><a ui-sref-active="active" id='logout' ng-click="$ctrl.logout()" show-authed="true">LOG OUT</a></li>
			</ul>
		</div>
	</div>
</div>	