<div id="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h2>CONTACT US</h2>
			</div>
			<form id="contact_form" name="contact_form" class="form-contact" ng-submit="vm.SubmitContact()">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10">
					<div class="col-md-6 col-sm-6">
						<input required ng-model="vm.inputName" id="inputName" name="inputName" type="text" class="form-control" placeholder="Name" >
						<span class="text-danger" ng-show="contact_form.inputName.$error.required && (contact_form.inputName.$dirty || contact_form.inputName.$touched)">The name is required</span>
					</span>
				  	</div>
					<div class="col-md-6 col-sm-6">
						<input required ng-model="vm.inputEmail" id="inputEmail" name="inputEmail" type="email" class="form-control" placeholder="Email" maxlength="100" ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i">
						<span class="text-danger" ng-show="contact_form.inputEmail.$error.required && (contact_form.inputEmail.$dirty || contact_form.inputEmail.$touched)">The email is required</span>
        				<span class="text-danger" ng-show="contact_form.inputEmail.$error.email">The email is not valid</span>
      					</span>
				  	</div>
                    <div class="col-md-12 col-sm-12">
						<select ng-model="vm.inputSubject" id="inputSubject" name="inputSubject" class="form-control">
								<option value="" disabled selected>Select an option</option>
								<option value="problem1">Problemas al iniciar sesión</option>
								<option value="problem2">Problemas con compras</option>
								<option value="work">Trabaja con nosotros</option>
								<option value="projects">Ideas nuevas</option>
								<option value="suggestions">Sugerencias</option>
								<option value="claim">Reembolso</option>
								<option value="suscribe">Subscribete a nuestra página</option>
								<option value="diferent">Otros</option>
							</select>
	    	  	  	</div>
					<div class="col-md-12 col-sm-12">
						<textarea required ng-model="vm.inputMessage" id="inputMessage" name="inputMessage" placeholder="Your comment here..." rows="5" class="form-control"></textarea>
						<span class="text-danger" ng-show="contact_form.inputMessage.$error.required && (contact_form.inputMessage.$dirty || contact_form.inputMessage.$touched)">The comment is required</span>
					</span>
					</div>
					<div class="col-md-8 col-sm-8">
					</div>
					<div class="col-md-4 col-sm-4">
						<input name="submit" id="submitBtn" value="SEND EMAIL" ng-show="contact_form.inputName.$valid && contact_form.inputEmail.$valid && contact_form.inputMessage.$valid" type="submit" class="form-control" ng-click="SubmitContact()">
					</div>
				</div>
				<div class="col-md-1 col-sm-1"></div>
			</form>
		</div>
	</div>
</div>
