<div id="detailsNew">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12" >
				<h2>{{$ctrl.lastNew.title}}</h2>
			</div>
			<div class="col-md-6 col-sm-6">
				<img src="{{$ctrl.lastNew.img}}" class="img-responsive" alt="about img">
			</div>
			<div class="col-md-6 col-sm-6" ng-repeat="body in $ctrl.lastNew.body">
				<h3>{{body}}</h3>
			</div>
		</div>
	</div>
</div>
<ng-map style="width:800px; height: 500px; margin-left: 19%; margin-top: 30px;" center="[{{$ctrl.lastNew.location.lat}}, {{$ctrl.lastNew.location.lon}}]">
    <marker position="{{$ctrl.lastNew.location.lat}},{{$ctrl.lastNew.location.lon}}" title="Hello World!"></marker>
</ng-map>