<div id="listNews">
	<div class="container">
		<div class="row" ng-repeat="new in $ctrl.filteredNews">
			<div class="col-md-12 col-sm-12" >
				<h2>{{new.title}}</h2>
			</div>
			<div class="col-md-6 col-sm-6">
				<img src="{{new.img}}" class="img-responsive" alt="about img">
			</div>
			<div class="col-md-6 col-sm-6">
				<h3>{{new.author}}</h3>
				<h4>{{new.category}}</h4>
				<p>{{new.summary}}</p>
				<a ui-sref="app.detailNew({ id : new._id })">Leer más</a>
			</div>
		</div>
	</div>
</div>
<div style="margin-left: 50%; margin-top: 10px;" id="pager">
	<ul uib-pagination class="pagination-sm" boundary-link-numbers="true"
	 total-items="$ctrl.news.length" ng-model="$ctrl.currentPage"
	  items-per-page="$ctrl.itemsPerPage" ng-change="$ctrl.pageChanged()">
	</ul>
</div>